<div class="modal-header">
  <button ng-if="modal.dismissable" type="button" ng-click="$dismiss()" class="close">&times;</button>
  <h4 ng-if="modal.title" ng-bind="modal.title" class="modal-title"></h4>
</div>
<div class="modal-body">

    <div class="row">
      <div class="col-xs-8"></div>
      <div class="col-xs-4 checkbox">
        <label><input type="checkbox" ng-model="modal.newProject.active" ng-init="modal.newProject.active=true" value="true" />Active?</label>
      </div>
    </div>



    <div class="row">
      <div class="form-group col-xs-8">
        <input type="text" class="form-control" ng-model="modal.newProject.name" placeholder="Project Name" required />
      </div>
      <div class="form-group col-xs-4">
        <input type="number" class="form-control" ng-model="modal.newProject.budgetedTime" placeholder="Budgeted Time" required />
      </div>
      <div class="form-group col-xs-12">
        <textarea class="form-control" rows="5" ng-model="modal.newProject.info" placeholder="Project Info"></textarea>
      </div>
    </div>



</div>
<div class="modal-footer">
  <button ng-repeat="button in modal.buttons" ng-class="button.classes" ng-click="button.click($event)" ng-bind="button.text" class="btn"></button>
</div>
