<div class="container">

  <a ng-click="$ctrl.openNewProjectModal()" class="btn btn-lg btn-primary btn-add"><i aria-hidden="true" class="fa fa-lg">&#xf067;</i></a>
  <ul class="nav nav-tabs hide">
    <li class="active"><a id="activeProjects-tab" href="#">Active</a></li>
    <li><a id="archivedProjects-tab" href="#">Archived</a></li>
  </ul>

  <div id="projectTabs" class="tab-content">

    <div id="activeProjects" class="tab-pane fade active in">

      <div class="row">

        <div class="col-sm-8">

          <div class="row">
            <div class="col-xs-8">
              <canvas id="doughnutChart"
                class="chart chart-doughnut"
                chart-data="projectChartTime"
                chart-labels="projectChartLabels"
                chart-colours="projectChartColors"
                chart-options="projectChartOptions">
              </canvas>
            </div>
            <div class="col-xs-4">
              <p><span class="label label-success">{{$ctrl.totalActiveProjects}}</span> Projects</p>
              <p><span class="label label-success">{{$ctrl.totalBudgetedActiveProjectTime}}</span> Hrs.</p>
            </div>
          </div>

          <p>&nbsp;</p>

        </div>

        <div class="col-sm-4 list-holder">

          <ul class="list-group">
            <li class="list-group-item" ng-repeat="project in $ctrl.activeProjects" style="border-left: 4px solid {{project.color}};">
              <a ng-href="/projects/:{{project._id}}"><strong>{{project.name}}</strong></a>
              <a href="#" title="delete" class="btn btn-danger btn-xs delete" ng-click="$ctrl.deleteProject(project.name, project)">Delete</a>
              <p class="small">{{project.info}}</p>
            </li>
          </ul>

        </div>

      </div>
    </div>


    <div id="archivedProjects" class="tab-pane fade">
      <ul class="list-group">
        <li class="list-group-item" ng-repeat="project in $ctrl.activeProjects">
          <a href="#" uib-tooltip="{{project.info}}"><strong>{{project.name}}</strong></a>
          <p>{{project.info}}</p>
        </li>
      </ul>
    </div>


  </div>

</div>
