$icon-font-path: "../bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";
@import '../bower_components/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap';
@import '../bower_components/bootstrap-social/bootstrap-social.scss';
$fa-font-path: "../bower_components/font-awesome/fonts";
@import '../bower_components/font-awesome/scss/font-awesome';

/**
 * App-wide Styles
 */

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}


.center{text-align: center;}

// Component styles are injected through grunt
/* inject:scss */
@import 'admin/admin';
@import 'main/main';
@import 'project/project';
@import 'projects/projects';
@import '../components/footer/footer';
@import '../components/modal/modal';
@import '../components/oauth-buttons/oauth-buttons';
/* endinject */


body{padding-top: 80px;}
footer{display: none;}


.list-holder{padding: 0;
    .list-group-item{border-left: 0; border-right: 0;
      &:first-child{border-top-right-radius: 0px; border-top-left-radius: 0px;}
      &:last-child{border-bottom-right-radius: 0px; border-bottom-left-radius: 0px;}
    }
    .list-group{margin-bottom: 0;}
}

.btn-add{position: fixed; bottom: 20px; right: 20px; z-index: 1000;}
