<div class="container">
  <a ng-click="$ctrl.openNewTaskModal($ctrl.project)" class="btn btn-xs btn-primary">New Task</a>
  <p>{{$ctrl.project.info}}</p>

  <canvas id="line"
    class="chart chart-line"
    chart-data="chartData"
    chart-labels="chartLabel"
    chart-options="projectChartOptions">
  </canvas>
  <div class="row list-holder">
    <ul class="list-group">
      <li class="list-group-item" ng-repeat="task in $ctrl.project.tasks">
        <strong>{{task.name}}</strong> - {{task.budgetedTime}} Hrs.
      </li>
    </ul>
  </div>
</div>
